volumes:
  tani_pintar_production_django_media: {}
  tani_pintar_production_postgres_data: {}
  tani_pintar_production_postgres_data_backups: {}
  tani_pintar_production_redis_data: {}

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile

    image: tani_pintar_production_django
    volumes:
      - tani_pintar_production_django_media:/app/core/media
    depends_on:
      - postgres
      - redis
    env_file:
      - ./.envs/.production/.django
      - ./.envs/.production/.postgres
    command: /start

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: tani_pintar_production_postgres
    volumes:
      - tani_pintar_production_postgres_data:/var/lib/postgresql/data
      - tani_pintar_production_postgres_data_backups:/backups
    env_file:
      - ./.envs/.production/.postgres

  redis:
    image: docker.io/redis:6

    volumes:
      - tani_pintar_production_redis_data:/data

  celeryworker:
    <<: *django
    image: tani_pintar_production_celeryworker
    command: /start-celeryworker

  celerybeat:
    <<: *django
    image: tani_pintar_production_celerybeat
    command: /start-celerybeat

  flower:
    <<: *django
    image: tani_pintar_production_flower
    command: /start-flower

  nginx:
    build:
      context: .
      dockerfile: ./compose/production/nginx/Dockerfile
    image: tani_pintar_production_nginx
    depends_on:
      - django
    volumes:
      - tani_pintar_production_django_media:/usr/share/nginx/media:ro
    ports:
      - "100.86.58.86:64000:80"
