name: CI

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  pull_request:
    branches: ["master", "main"]
    paths-ignore: ["docs/**"]

  push:
    branches: ["master", "main"]
    paths-ignore: ["docs/**"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      # Consider using pre-commit.ci for open source project
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  # With no caching at all the entire ci process takes 3m to complete!
  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Update Environment Variable
        run: |
          rm -f .envs/.local/.tidb
          echo "${{ secrets.TIDB }}" >> .envs/.local/.tidb
          cat .envs/.local/.tidb

      - name: Build the Stack
        run: docker compose -f docker-compose.local.yml build django

      # - name: Reset TiDB Database
      #   run: docker compose -f docker-compose.local.yml run --rm django python manage.py runscript reset_tidb

      # - name: Build the docs
      #   run: docker compose -f docker-compose.docs.yml build docs

      - name: Check DB Migrations
        run: docker compose -f docker-compose.local.yml run --rm django python manage.py makemigrations --check

      - name: Run DB Migrations
        run: docker compose -f docker-compose.local.yml run --rm django python manage.py migrate

      - name: Run Django Tests & Coverage
        run: docker compose -f docker-compose.local.yml run django pytest --cov --cov-report=xml --cov-fail-under=34

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Tear down the Stack
        run: docker compose -f docker-compose.local.yml down
